In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Last Time...

In [ ]:
galton = Table.read_table('http://inferentialthinking.com/notebooks/galton.csv')
galton

In [ ]:
heights = galton.select(3, 7).relabeled(0, 'MidParent').relabeled(1, 'Child')
heights.scatter(0)

## Apply with two arguments

In [ ]:
first = galton.row(0)
first

In [ ]:
len(first)

In [ ]:
galton.num_rows

In [ ]:
galton.num_columns

In [ ]:
first.item(2)

In [ ]:
first.item('mother')

In [ ]:
m = first.item('mother')
f = first.item('father')
(1.08 * m + f) / 2

In [ ]:
def mid_parent(m, f):
    return (1.08 * m + f) / 2

In [ ]:
galton.take(np.arange(10)).apply(mid_parent, 'mother', 'father')

In [ ]:
galton.take(np.arange(3)).apply(len)

In [ ]:
galton.take(np.arange(3)).apply(len, 'gender')

In [ ]:
len('male')

In [ ]:
def mid_parent_from_row(row):
    return (1.08 * row.item('mother') + row.item('father')) / 2

In [ ]:
galton.take(np.arange(10)).apply(mid_parent_from_row)

## Group

In [ ]:
all_cones = Table.read_table('http://inferentialthinking.com/notebooks/cones.csv')
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.group('Flavor', sum)

In [ ]:
cones.where('Flavor', are.equal_to('chocolate')).column('Price')

In [ ]:
sum(cones.where('Flavor', are.equal_to('chocolate')).column('Price'))

In [ ]:
sum(cones.where('Flavor', are.equal_to('strawberry')).column('Price'))

In [ ]:
cones.group('Flavor', max)

In [ ]:
cones.group('Flavor', list)

In [ ]:
nba = Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
teams_and_money = nba.select('TEAM', 'SALARY')
teams_and_money.group('TEAM', sum).sort(1, descending=True).barh('TEAM')

In [ ]:
nba.group('POSITION')

In [ ]:
positions_and_money = nba.select('POSITION', 'SALARY')
positions_and_money.group('POSITION', np.mean)

In [ ]:
nba.group('POSITION', np.mean)

## Group by multiple columns

Note: textbook is out-of-date!

In [ ]:
all_cones

In [ ]:
all_cones.group('Flavor')

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.group(['Flavor', 'Color'], sum)

In [ ]:
nba

In [ ]:
starters = nba.drop('PLAYER').group(['TEAM', 'POSITION'], max)
starters.drop('POSITION').group('TEAM', sum).sort(1, descending=True)

In [ ]:
all_cones.pivot('Flavor', 'Color')

In [ ]:
all_cones.pivot('Flavor', 'Color', values='Price', collect=sum)

In [ ]:
all_cones.groups(['Flavor', 'Color'], sum)

In [ ]:
nba.pivot('POSITION', 'TEAM')

In [ ]:
nba.pivot('POSITION', 'TEAM', 'SALARY', max)

In [ ]:
# Solution to take-home question:
# How do you make a table of the highest paid players for each team & position
indexed = nba.with_column('INDEX', np.arange(nba.num_rows))
def highest_paid(indices):
    return indexed.take(indices).sort('SALARY', descending=True).column('PLAYER').item(0)
indexed.pivot('POSITION', 'TEAM', 'INDEX', highest_paid)

In [ ]:
# The solution above does not assume that the nba table is already sorted.
# Since nba is sorted in decreasing order of salary by team, the following works too
def first(players):
    return players.item(0)
indexed.pivot('POSITION', 'TEAM', 'PLAYER', first)

## Example

In [ ]:
full_table = Table.read_table('http://inferentialthinking.com/notebooks/educ_inc.csv')
ca_2014 = full_table.where('Year', are.equal_to('1/1/14 0:00')).where('Age', are.not_equal_to('00 to 17')).drop('Year')
ca_2014

In [ ]:
totals = ca_2014.pivot('Educational Attainment', 3, values=4, collect=sum)
totals

In [ ]:
totals.select(0, 1, 4).barh(0)