In [2]:
from datascience import *

In [3]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba = Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [5]:
nba.show(3)

In [6]:
sum(nba.column(3))

2116.1976390000013

In [7]:
max(nba.column(3))

25.0

In [9]:
nba.sort('PLAYER').show(5)

In [10]:
nba.sort("'15-'16 SALARY").show(5)

In [11]:
nba.sort("'15-'16 SALARY", descending=True).show(5)

In [13]:
salary = "'15-'16 SALARY"
nba.sort(salary, descending=True).show(5)

In [14]:
nba.sort?

In [17]:
nba.sort(salary, descending=True).sort(1)

PLAYER           | POSITION | TEAM                  | '15-'16 SALARY
Dwight Howard    | C        | Houston Rockets       | 22.3594
Marc Gasol       | C        | Memphis Grizzlies     | 19.688
Enes Kanter      | C        | Oklahoma City Thunder | 16.4075
DeMarcus Cousins | C        | Sacramento Kings      | 15.852
Roy Hibbert      | C        | Los Angeles Lakers    | 15.5922
Tristan Thompson | C        | Cleveland Cavaliers   | 14.2609
Andrew Bogut     | C        | Golden State Warriors | 13.8
Al Jefferson     | C        | Charlotte Hornets     | 13.5
Joakim Noah      | C        | Chicago Bulls         | 13.4
Nene Hilario     | C        | Washington Wizards    | 13
... (407 rows omitted)

In [18]:
nba.sort?

In [20]:
nba.sort(salary, descending=True).sort('POSITION', distinct=True)

PLAYER        | POSITION | TEAM                 | '15-'16 SALARY
Dwight Howard | C        | Houston Rockets      | 22.3594
Chris Bosh    | PF       | Miami Heat           | 22.1927
Chris Paul    | PG       | Los Angeles Clippers | 21.4687
Kobe Bryant   | SF       | Los Angeles Lakers   | 25
Dwyane Wade   | SG       | Miami Heat           | 20

In [22]:
(nba.sort(salary, descending=True)
 .select("PLAYER")
 .sort("PLAYER", descending=True))

PLAYER
Zoran Dragic
Zaza Pachulia
Zach Randolph
Zach LaVine
Wilson Chandler
Willie Cauley-Stein
Will Barton
Wesley Johnson
Wayne Ellington
Walter Tavares
... (407 rows omitted)

In [23]:
make_array(2, 3.0)

array([ 2.,  3.])

In [24]:
make_array(2, 'three')

array(['2', 'three'],
      dtype='<U21')

In [25]:
[2, 'three']

[2, 'three']

In [26]:
type([2, 'three'])

list

In [27]:
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [29]:
row = ['Sam Lau', 'PG', 'Berkeley Data Scientists', 0.0]
nba.with_row(row).sort(salary)

PLAYER                 | POSITION | TEAM                     | '15-'16 SALARY
Sam Lau                | PG       | Berkeley Data Scientists | 0
Thanasis Antetokounmpo | SF       | New York Knicks          | 0.030888
Jordan McRae           | SG       | Phoenix Suns             | 0.049709
Cory Jefferson         | PF       | Phoenix Suns             | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies        | 0.055722
Orlando Johnson        | SG       | Phoenix Suns             | 0.055722
Phil Pressey           | PG       | Phoenix Suns             | 0.055722
Keith Appling          | PG       | Orlando Magic            | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets           | 0.099418
Erick Green            | PG       | Utah Jazz                | 0.099418
... (408 rows omitted)

In [31]:
nba.show(3)

In [32]:
nba.take(0)

PLAYER       | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap | PF       | Atlanta Hawks | 18.6717

In [33]:
nba.take(make_array(0, 1, 2))

PLAYER         | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap   | PF       | Atlanta Hawks | 18.6717
Al Horford     | C        | Atlanta Hawks | 12
Tiago Splitter | C        | Atlanta Hawks | 9.75625

In [36]:
import numpy as np

In [37]:
nba.sort(salary, descending=True).take(np.arange(3))

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Kobe Bryant  | SF       | Los Angeles Lakers  | 25
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705

In [39]:
rich = nba.sort(salary, descending=True).take(np.arange(3))
rich

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Kobe Bryant  | SF       | Los Angeles Lakers  | 25
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705

In [40]:
rich.sort('TEAM')

PLAYER       | POSITION | TEAM                | '15-'16 SALARY
Joe Johnson  | SF       | Brooklyn Nets       | 24.8949
LeBron James | SF       | Cleveland Cavaliers | 22.9705
Kobe Bryant  | SF       | Los Angeles Lakers  | 25

In [41]:
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [42]:
nba.sort(salary, descending=True).take(np.arange(10, 20))

PLAYER            | POSITION | TEAM                  | '15-'16 SALARY
LaMarcus Aldridge | PF       | San Antonio Spurs     | 19.689
Kevin Love        | PF       | Cleveland Cavaliers   | 19.689
Marc Gasol        | C        | Memphis Grizzlies     | 19.688
Blake Griffin     | PF       | Los Angeles Clippers  | 18.9077
Paul Millsap      | PF       | Atlanta Hawks         | 18.6717
Paul George       | SF       | Indiana Pacers        | 17.1201
Russell Westbrook | PG       | Oklahoma City Thunder | 16.7442
Kyrie Irving      | PG       | Cleveland Cavaliers   | 16.4075
Kawhi Leonard     | SF       | San Antonio Spurs     | 16.4075
Enes Kanter       | C        | Oklahoma City Thunder | 16.4075

In [43]:
nba.sort(salary)

PLAYER                 | POSITION | TEAM                 | '15-'16 SALARY
Thanasis Antetokounmpo | SF       | New York Knicks      | 0.030888
Jordan McRae           | SG       | Phoenix Suns         | 0.049709
Cory Jefferson         | PF       | Phoenix Suns         | 0.049709
Elliot Williams        | SG       | Memphis Grizzlies    | 0.055722
Orlando Johnson        | SG       | Phoenix Suns         | 0.055722
Phil Pressey           | PG       | Phoenix Suns         | 0.055722
Keith Appling          | PG       | Orlando Magic        | 0.061776
Sean Kilpatrick        | SG       | Denver Nuggets       | 0.099418
Erick Green            | PG       | Utah Jazz            | 0.099418
Jeff Ayres             | PF       | Los Angeles Clippers | 0.111444
... (407 rows omitted)

In [44]:
nba.where(salary, are.above(10))

PLAYER         | POSITION | TEAM              | '15-'16 SALARY
Paul Millsap   | PF       | Atlanta Hawks     | 18.6717
Al Horford     | C        | Atlanta Hawks     | 12
Joe Johnson    | SF       | Brooklyn Nets     | 24.8949
Thaddeus Young | PF       | Brooklyn Nets     | 11.236
Al Jefferson   | C        | Charlotte Hornets | 13.5
Nicolas Batum  | SG       | Charlotte Hornets | 13.1253
Kemba Walker   | PG       | Charlotte Hornets | 12
Derrick Rose   | PG       | Chicago Bulls     | 20.0931
Jimmy Butler   | SG       | Chicago Bulls     | 16.4075
Joakim Noah    | C        | Chicago Bulls     | 13.4
... (59 rows omitted)

In [46]:
nba.where(salary, are.above(10)).sort(salary)

PLAYER          | POSITION | TEAM                 | '15-'16 SALARY
DeMar DeRozan   | SG       | Toronto Raptors      | 10.05
Gerald Wallace  | SF       | Philadelphia 76ers   | 10.1059
Luol Deng       | SF       | Miami Heat           | 10.1516
Monta Ellis     | SG       | Indiana Pacers       | 10.3
Wilson Chandler | SF       | Denver Nuggets       | 10.4494
Brendan Haywood | C        | Cleveland Cavaliers  | 10.5225
Jrue Holiday    | PG       | New Orleans Pelicans | 10.5955
Tyreke Evans    | SG       | New Orleans Pelicans | 10.7346
Marcin Gortat   | C        | Washington Wizards   | 11.2174
Thaddeus Young  | PF       | Brooklyn Nets        | 11.236
... (59 rows omitted)

In [47]:
nba.where("TEAM", are.equal_to('Golden State Warriors'))

PLAYER            | POSITION | TEAM                  | '15-'16 SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [48]:
nba.where("TEAM", are.containing('Warriors'))

PLAYER            | POSITION | TEAM                  | '15-'16 SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [49]:
nba.where("TEAM", are.containing('Warriors')).sort(salary)

PLAYER            | POSITION | TEAM                  | '15-'16 SALARY
Anderson Varejao  | PF       | Golden State Warriors | 0.289755
Kevon Looney      | SF       | Golden State Warriors | 1.13196
Brandon Rush      | SF       | Golden State Warriors | 1.27096
Festus Ezeli      | C        | Golden State Warriors | 2.00875
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
Marreese Speights | C        | Golden State Warriors | 3.815
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Stephen Curry     | PG       | Golden State Warriors | 11.3708
... (4 rows omitted)

In [55]:
are.between_or_equal_to?

In [51]:
nba.where(salary, are.between(11, 12))

PLAYER         | POSITION | TEAM                  | '15-'16 SALARY
Thaddeus Young | PF       | Brooklyn Nets         | 11.236
Kenneth Faried | PF       | Denver Nuggets        | 11.236
Andre Iguodala | SF       | Golden State Warriors | 11.7105
Stephen Curry  | PG       | Golden State Warriors | 11.3708
Nikola Vucevic | C        | Orlando Magic         | 11.25
Marcin Gortat  | C        | Washington Wizards    | 11.2174

In [53]:
nba.where('PLAYER', are.containing('Curry'))

PLAYER        | POSITION | TEAM                  | '15-'16 SALARY
Stephen Curry | PG       | Golden State Warriors | 11.3708

In [56]:
nba

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)