In [1]:
import numpy as np
np.set_printoptions(threshold=50)

In [2]:
from datascience import *

In [3]:
Table()

In [4]:
Table().with_columns('Petals', make_array(8, 34, 5))

Petals
8
34
5

In [5]:
Table().with_columns(
    'Petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

Petals | Name
8      | lotus
34     | sunflower
5      | rose

In [7]:
flowers = Table().with_columns(
    'Petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)
flowers.with_columns('Color', make_array('pink', 'yellow', 'red'))

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [11]:
flowers = flowers.with_columns('Color', make_array('pink', 'yellow', 'red'))
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [23]:
x = 3

In [13]:
x + 2

5

In [14]:
x

3

In [24]:
x = x + 2

In [25]:
x

5

In [36]:
minard = Table.read_table('http://inferentialthinking.com/notebooks/minard.csv')
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [27]:
minard.num_columns

5

In [29]:
minard.num_rows

8

In [30]:
minard.labels

('Longitude', 'Latitude', 'City', 'Direction', 'Survivors')

In [31]:
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [32]:
minard.relabeled('City', 'City Name')

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [37]:
minard = minard.relabeled('City', 'City Name')
minard

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [38]:
minard.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [39]:
minard.column(4)

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [40]:
minard.column(4).item(0)

145000

In [41]:
initial = minard.column(4).item(0)
minard = minard.with_columns(
    'Percent Surviving', minard.column('Survivors') / initial
)
minard

Longitude | Latitude | City Name   | Direction | Survivors | Percent Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 0.965517
34.4      | 55.5     | Chjat       | Advance   | 127100    | 0.876552
37.6      | 55.8     | Moscou      | Advance   | 100000    | 0.689655
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 0.37931
32        | 54.6     | Smolensk    | Retreat   | 24000     | 0.165517
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.137931
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.0827586

In [42]:
minard.select('Longitude', 'Direction')

Longitude | Direction
32        | Advance
33.2      | Advance
34.4      | Advance
37.6      | Advance
34.3      | Retreat
32        | Retreat
30.4      | Retreat
26.8      | Retreat

In [48]:
minard.select('Longitude', 'Direction').select('Direction')

Direction
Advance
Advance
Advance
Advance
Retreat
Retreat
Retreat
Retreat

In [53]:
minard.select('Longitude', 4)

Longitude | Survivors
32        | 145000
33.2      | 140000
34.4      | 127100
37.6      | 100000
34.3      | 55000
32        | 24000
30.4      | 20000
26.8      | 12000

In [50]:
minard.column('Survivors') + 1

array([145001, 140001, 127101, 100001,  55001,  24001,  20001,  12001])

In [54]:
minard.drop('Longitude', 'Latitude', 'Direction')

City Name   | Survivors | Percent Surviving
Smolensk    | 145000    | 1
Dorogobouge | 140000    | 0.965517
Chjat       | 127100    | 0.876552
Moscou      | 100000    | 0.689655
Wixma       | 55000     | 0.37931
Smolensk    | 24000     | 0.165517
Orscha      | 20000     | 0.137931
Moiodexno   | 12000     | 0.0827586

In [55]:
minard

Longitude | Latitude | City Name   | Direction | Survivors | Percent Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 0.965517
34.4      | 55.5     | Chjat       | Advance   | 127100    | 0.876552
37.6      | 55.8     | Moscou      | Advance   | 100000    | 0.689655
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 0.37931
32        | 54.6     | Smolensk    | Retreat   | 24000     | 0.165517
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.137931
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.0827586